table {
    border-collapse: collapse;
    margin : auto;
}

h1 {
    font-family: "Baskerville Old Face" ;
    margin-left:35% ;
    margin-right:35%;
    text-align: center;
    color: #000000;
    background-color: #cccccc;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
    background-color: #ffffff;
}

th {
    font-weight: bolder;
}

main {
    background-color: #cccccc;
    color: black;
    border-radius: 9px;
    font-family: sans-serif;
}


main #correct {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-color: black;
    border-radius: 5px;
    font-size: 24px;
    font-family: sans-serif;
}

input {
    padding: 10px 20px;
    cursor: pointer;
    background-color: red;
    border-color: black;
    border-radius: 5px;
    font-size: 24px;
    font-family: sans-serif;
}

input:hover {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #bd181f;
    border-color: black;
    border-radius: 5px;
    font-size: 24px;
    font-family: sans-serif;
}

#line {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 24px;
    font-family: sans-serif;
}

#head {
    background-color: #c5c5c5;
    border-radius: 9px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#profile {
    position: absolute;
    top: 6px;
    right: 2px;
    background-color: white;
    color: black;
}

#profile:hover {
    position: absolute;
    top: 6px;
    right: 2px;
    background-color: white;
    color: black;
}

button:hover{
    background-color: #9a9696;
    color: white;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 13px;
    border-color: #c5c5c5;
}

#notActive {
    background-color: #9a9696;
    color: white;
}

#classment {
    position: absolute;
    top: 6px;
    left: 2px;
    background-color: white;
    color: black;
}

#classment:hover {
    position: absolute;
    top: 6px;
    left: 2px;
    background-color: white;
    color: black;
}