table {
    border-collapse: collapse;
    margin : auto;
}

td,th {
    border: 1px solid black;
    padding: 15px;
}

th {
    font-weight: bolder;
}

button{
    padding: 10px 20px;
    cursor: pointer;
}