
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    border-radius: 9px;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    font-size: 20px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 13px;
    border-color: #c5c5c5;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #9a9696;
    color: white;
}