table {
    border-collapse: collapse;
    margin : auto;
}

td,th {
    border: 1px;
    padding: 15px;
}

header{
    background-color: #cccccc;
    color: #000000;
    border-radius: 9px;
    font-family: sans-serif;
}

th {
    font-weight: bolder;
}

main {
    background-color: #cccccc;
    color: black;
    border-radius: 9px;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-color: aliceblue;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: red;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
}

button:hover{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #bd181f;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
}

input {
    padding: 10px 20px;
    cursor: pointer;
    background-color: limegreen;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
}

input:hover {
    padding: 11px 21px;
    cursor: pointer;
    background-color: greenyellow;
    border-radius: 20px;
    border-color: black;
    font-size: 20px;
}