<!DOCTYPE html>
<html lang="en">
<head>
    <link href="CSS_Home.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>ChomeurCholeur.fr</title>
</head>
<body>
<header><button><a>Inscription</a></button><button><a href="Connexion.html">Connection</a></button></header>
<h1>Bienvenue sur le site ChomeurCholeur, le site n°1 de Cholage (et le seul...)</h1>
<h2>Les règles du cholage</h2>
<p>Le chôlage est une sorte de jeu de golf de rue qui oppose deux équipes.
    La première phase consiste à faire un pari sur l’équipe qui fera arriver la balle au point de destination en le moins de coup possible.
    Si le pari est identique pour les deux équipe on tire au sort celle qui attaquera.
    L’équipe qui parie sur le plus petit nombre de coup est celle qui attaque, on dit qu’elle « chole »,
    elle a le droit de taper la balle 3 fois par tour.
    L’équipe qui avait parié un nombre de coup plus élevé est celle qui défend, on dit qu’elle « déchôle ».
    Elle doit frapper la balle de manière à éloigner la balle du point d’arrivée visé par les attaquant.
    Elle doit de frapper la balle une fois par tour.
    Le nombre de tours correspond au nombre choisi durant la phase de pari.
    Si l’équipe qui chôle atteint le point de destination en autant ou moins de tour que le pari alors elle remporte la partie.
    Sinon, c’est l’équipe qui déchôle qui l’emporte.</p><br>
<p>le chôlage et une tradition au village de quaroulle depuis plusieurs générations, tradition pour laquelle les quarouliens (LoL) sont fiers.</p>
<p>Vous aussi rejoigner cette activité pationnante en vous inscrivant avec le bouton là-haut.</p>
<p>déjà membre connecter-vous toujours avec le bouton là-haut.</p>
</body>
</html>