<!DOCTYPE html>
<html>
<head>
    <title>Formulaire d'Inscription</title>
    <link rel="stylesheet" href="connexion.css" media="screen" type="text/css" />
</head>
<body>
<div id="container">

<form action="../Controller/Registering/checkInscription.php" method="post">
    <h1>Inscription</h1>
    Nom: <input type="text" name="name" required><br>
    Prenom: <input type="text" name="firstname" required><br>
    Email: <input type="text" name="email" required><br>
    Date de naissance: <input type="date" name="birth" required><br>
    Identifiant: <input type="text" name="user" required>
    Mot de passe: <input type="password" name="password" required><br>
    Confirmer mot de passe: <input type="password" name="passwordC" required><br>

    <input type="submit" value="Inscription">
</form>
</div>
</body>
</html>