<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="Unregistering/css.css" media="screen" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>Quarouble Cholage Club.fr</title>
</head>
<body>
<center>
<div>
<h3>Tentative échouée</h3>
<p>Identifiant ou mot de passe incorrect.</p>
<p>Assurez vous d'avoir été validé par un de nos admins, vous pouvez vérifier dans vos mails.</p>
<input type="submit" onclick="window.location.href ='Guest_Home.html';" value="Accueil">
<input type="submit" onclick="window.location.href ='Connexion.php';" value="Réessayer">
</div></center>
</body>
</html>